# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode per-user state (schemes, window layout, breakpoints)
xcuserdata/
*.xcuserstate
*.xcbkptlist

# Xcode build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
